[test.metadata]
name = "{{ svc }}_integration_test"
description = "Integration test for {{ svc }} in {{ env }} environment"

[service.{{ svc }}]
plugin = "generic_container"
image = "{{ svc }}:latest"

[[scenario]]
name = "check_health"
service = "{{ svc }}"
run = "curl localhost:8080/health"
expect_success = true

[[expect.span]]
name = "{{ svc }}.request"
attrs.all = { "env" = "{{ env }}", "service" = "{{ svc }}" }
